{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}


    <div class="container">

        <h1>Recipe Details</h1>
        <div class="items-container">
            <div class="item">
                <h2>{{ receipt.title }}</h2>
                <img class="detail-img" src="{{ receipt.image_url }}" alt="recipe-image">
                <div class="time">
                    <img src="{% static 'images/clock.png' %}">
                    <p>{{ receipt.time }}min</p>
                </div>
                <h3>Ingredients</h3>
                <ul>
                    {% for ingredient in ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                <h3>How to prepare?</h3>
                <div class="recipe-info-full">
                    {{ receipt.description }}
                </div>
                <div class="buttons-container">
                    <a class="button edit" href="{% url 'edit recipe' pk=receipt.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'delete recipe' pk=receipt.pk %}">Delete</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}